:root {
  font-size: 16px;
  font-family: "Sarpanch", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

html {
  background-color: #739daa;
}

body {
  margin: 0;
  padding: 0;
  color: #919191;
  background-position: center;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #f0c816;
}

h2 {
  font-size: 1rem;
  color: rgba(215, 61, 230, 0.829);
  font-family: "Sarpanch", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  font-family: "Sarpanch", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  z-index: 1;
}

.nav__small {
  display: none;
}

.navbar--nav {
  list-style: none;
  padding: 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav--item {
  display: flex;
  width: 100%;
  padding: 0 0;
  font-size: 1rem;
}

.nav--item:last-child {
  margin-top: auto;
  width: 100%;
}

.nav--link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  filter: grayscale(50%);
  color: var(--text-primary);
  text-decoration: none;

  transition: 400ms;
  width: 100%;
}

.nav--link:hover {
  filter: grayscale(0%);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
/* hide the small screen nave bar */
.smallscreen__navbar {
  display: none;
}

.link--text {
  display: none;
  margin-left: 1rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link--text {
  display: block;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.icon__nav {
  height: 50px;
  filter: invert(48%) sepia(79%) saturate(750%) hue-rotate(189deg)
    brightness(118%) contrast(119%) opacity(0.85);
}

.icon__nav:hover {
  filter: invert(48%) sepia(79%) saturate(750%) hue-rotate(380deg)
    brightness(118%) contrast(119%) opacity(1) drop-shadow(0 0 5px gold);
  transition-duration: 0.5s;
}

/* PHONES Dimension Adjust */

/* container */

.container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.container__cards {
  display: flex;
  border: 1px solid red;
  flex-wrap: wrap;
  padding: 1rem;
  margin-left: 6.5rem;
}

.container__text {
  width: 20rem;
  margin: 0 auto;
  padding-top: 3rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5;
}

.text__border:hover {
  transform: scale(1.02);
  transition-duration: 1s;
}

.text__border {
  display: flex;
  margin-left: 4rem;
  display: flex;
  width: 350px;
  border: 2px solid rgb(255, 78, 166);
  box-shadow: 0rem 0 2rem rgb(255, 46, 227);
  border-radius: 30px;
  background: rgb(20, 3, 29);
  background: linear-gradient(
    323deg,
    rgba(20, 3, 29, 1) 0%,
    rgba(50, 8, 64, 1) 50%,
    rgba(20, 2, 2, 1) 100%
  );
}

/* grid */

.grid--1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

@media screen and (max-width: 768px) {
  /* small screen navigation bar */

  .navbar {
    display: none;
  }
  .nav__small {
    display: flex;
    justify-content: end;
    align-items: baseline;
    padding: 1rem 0;
  }
  .icon--main {
    height: 40px;
  }

  .menu__button {
    background: none;
    border: none;
    width: 5rem;
  }
}

@media screen and (max-height: 390px) {
  .navbar {
    display: none;
  }
  .nav__small {
    display: flex;
    justify-content: end;
    align-items: baseline;
    padding: 1rem 0;
  }
  .icon--main {
    height: 40px;
  }

  .menu__button {
    background: none;
    border: none;
    width: 5rem;
  }
}

.icon__image {
  height: 50px;
}

.N5__name-text {
  color: var(--text-secondary);
  padding: 0;
  nav-right: 0;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
}
